In [1]:
Wow = [1,2,3,4,5,6,7,8,9]

In [2]:
for Check in Wow:
    print(Check)

1
2
3
4
5
6
7
8
9

In [3]:
Names = ["Happy Chauhan", "Aman Mishra", "Sourabh Rajput", "Komal", "Asif", "Lubhanshi", "Akansha"]

In [4]:
Check

9

In [5]:
Wow

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for Sound in Names : 
    print(Sound, type(Sound))

Happy Chauhan <class 'str'>
Aman Mishra <class 'str'>
Sourabh Rajput <class 'str'>
Komal <class 'str'>
Asif <class 'str'>
Lubhanshi <class 'str'>
Akansha <class 'str'>

In [8]:
for go in Names:
    print(go)
else:
    print("Make loyal friends")

Happy Chauhan
Aman Mishra
Sourabh Rajput
Komal
Asif
Lubhanshi
Akansha
Make loyal friends

In [9]:
go

'Akansha'

In [11]:
for go in Names:
    if go == "Asif":
        break
    print(go)

Happy Chauhan
Aman Mishra
Sourabh Rajput
Komal

In [12]:
go

'Asif'

In [17]:
Names = ["Happy Chauhan", "Aman Mishra", "Sourabh Rajput", "Komal", "Asif", "Lubhanshi", "Akansha"]

In [20]:
for go in Names:
    if go == "Komal":
        break
        print(go)
else :
        print("Are rukja bhyyi")

In [21]:
go

'Komal'

In [28]:
for tuk in Names:
    if tuk == "Sourabh Rajput":
        continue
    print(tuk)

Happy Chauhan
Aman Mishra
Komal
Asif
Lubhanshi
Akansha

In [32]:
for dora in Names:
    if dora == "Akansha":
        continue
    print(dora)

Happy Chauhan
Aman Mishra
Sourabh Rajput
Komal
Asif
Lubhanshi

In [36]:
for kenya in Names:
    if kenya == "Asif":
        continue
    print(kenya)
else:
    print("What to do now tell me")

Happy Chauhan
Aman Mishra
Sourabh Rajput
Komal
Lubhanshi
Akansha
What to do now tell me

In [37]:
range(20)

range(0, 20)

In [38]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [39]:
list(range(0,99,4))

[0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96]

In [40]:
list(range(99,0,-10))

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

In [47]:
list(range(99,0,-10)).reverse()

In [48]:
list(range(99,0,-10))

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

In [49]:
list(range(len(Names)))

[0, 1, 2, 3, 4, 5, 6]

In [53]:
for furr in range(len(Names)):
    print(Names[furr])

Happy Chauhan
Aman Mishra
Sourabh Rajput
Komal
Asif
Lubhanshi
Akansha

In [90]:
for furr in range(len(Names), 0, -1):
    print(Names[furr])

IndexError: list index out of range

In [55]:
list(range(len(Names),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [68]:
for gian in range(len(Names),0,-1):
    print(gian)

7
6
5
4
3
2
1

In [72]:
for gian in range(len(Names),0,-1):
    print(gian)

7
6
5
4
3
2
1

In [73]:
l1 = [1,87,7,5,48,4,7,6,18,9,18,94,2,4,94,2,68,61,89,1,579,1,8,674,2,549,21,8,1,86,4,1,87,6,41,7,98]

In [74]:
gian

1

In [75]:
len(Names)

7

In [76]:
len(l1)

37

In [88]:
for gian in range(0,len(l1),2):
    print(l1[gian])

1
7
48
7
18
18
2
94
68
89
579
8
2
21
1
4
87
41
98

In [91]:
result = 0
for I in l1:
    result = result + I
result

2798

In [92]:
sum(l1)

2798

In [93]:
tup =(1,2,3,4,5,6,7,8,9)

In [94]:
for i in tup:
    print(i)

1
2
3
4
5
6
7
8
9

In [95]:
results = 0
for i in tup:
    results = results + i
results

45

In [96]:
suuuu = {1,2,3,4,5,87}
pooh = {54,48,1,6,78,"Happy Chauhan", "Data Science"}

In [97]:
re = 0 
for p in suuuu:
    re = re + p
re

102

In [98]:
for pu in pooh:
    print(pu)

48
1
Data Science
Happy Chauhan
6
54
78

In [99]:
s1 = "Yo Yo Honey singh"

In [103]:
for i in s1:
    print(i)

Y
o

Y
o

H
o
n
e
y

s
i
n
g
h

In [104]:
dic = {"name" : "Happy Chauhan", "time": [5,10,8,2] , "course": ["Data science", "Python", "ML"]}

In [105]:
for i in dic.keys():
    print(dic[i])

Happy Chauhan
[5, 10, 8, 2]
['Data science', 'Python', 'ML']

In [108]:
for i in dic.values():
    print(i)

Happy Chauhan
[5, 10, 8, 2]
['Data science', 'Python', 'ML']

In [109]:
for i in dic.items():
    print(i)

('name', 'Happy Chauhan')
('time', [5, 10, 8, 2])
('course', ['Data science', 'Python', 'ML'])