In [2]:
Oxford = {}

In [3]:
type(Oxford)

dict

In [4]:
D1 = {"Key" : "Data Science"}

In [5]:
D1

{'Key': 'Data Science'}

In [6]:
D2 = {"Name" : "Happy Chauhan", "Email ID" : "Happy.chauhan1902@gmail.com", "Phone no" : "7011535418", 22 : "Age"}

In [7]:
D3 = {"@gmail.com" : "Mail id bhar apni idhar", True : "Correct", False : "Wrong"}

In [8]:
D2["Name"]

'Happy Chauhan'

In [9]:
D3[True]

'Correct'

In [10]:
D3[False]

'Wrong'

In [11]:
D2["Email ID"]

'Happy.chauhan1902@gmail.com'

In [12]:
D2[22]

'Age'

In [13]:
D3[1]

'Correct'

In [15]:
# key is always unique in a dictionary when we add another key with same name then
# old key is dumped and the new one overtakes the old one.
# we can add list in the dictionary too

In [16]:
D4 = {"Company" : "VFS Global", "Posts" : ["Data Analyst", "Data Scientsit", "Operation Officer"]}

In [17]:
D4

{'Company': 'VFS Global',
 'Posts': ['Data Analyst', 'Data Scientsit', 'Operation Officer']}

In [19]:
D4["Posts"][2]

'Operation Officer'

In [22]:
# We can add tuples in the dictionary too
# We can add set in the dictionary too

In [25]:
D5 = {"Numbers" : [65,99,8,4,46,45,2,4,678,8,5], "Assignments" : (1,2,3,4,5,6,7,8,9), "Launch date" : {12,15,31,8,9,24}, "Batch timing" : {"Full Stack Web Development" : "8AM", "Data Science master" : "8PM", "Java with DSA" : "3PM"}}

In [26]:
# Even we can create dictionary inside a dictionary

In [27]:
D5

{'Numbers': [65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5],
 'Assignments': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'Launch date': {8, 9, 12, 15, 24, 31},
 'Batch timing': {'Full Stack Web Development': '8AM',
  'Data Science master': '8PM',
  'Java with DSA': '3PM'}}

In [28]:
D5["Batch timing"]["Java with DSA"]

'3PM'

In [29]:
# We can add a key inside a Dictionary even it is aldready made here is an example of it

In [30]:
D5["Mentors"] = ["Sudhanshu", "Krish", "Jaiswal", "Hyder"]

In [31]:
D5

{'Numbers': [65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5],
 'Assignments': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'Launch date': {8, 9, 12, 15, 24, 31},
 'Batch timing': {'Full Stack Web Development': '8AM',
  'Data Science master': '8PM',
  'Java with DSA': '3PM'},
 'Mentors': ['Sudhanshu', 'Krish', 'Jaiswal', 'Hyder']}

In [32]:
# If we add a key with the same name which is already in existance than it will just update the key with new one

In [33]:
# If we want to delete any key from a dictionary we can use a function which is "del"

In [34]:
del D5["Mentors"]

In [35]:
D5

{'Numbers': [65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5],
 'Assignments': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'Launch date': {8, 9, 12, 15, 24, 31},
 'Batch timing': {'Full Stack Web Development': '8AM',
  'Data Science master': '8PM',
  'Java with DSA': '3PM'}}

In [38]:
# We can create list of the keys in existance in the dictionary by calling "keys()" function

In [39]:
D5.keys()

dict_keys(['Numbers', 'Assignments', 'Launch date', 'Batch timing'])

In [40]:
list(D5.keys())

['Numbers', 'Assignments', 'Launch date', 'Batch timing']

In [41]:
D5.values()

dict_values([[65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5], (1, 2, 3, 4, 5, 6, 7, 8, 9), {8, 9, 12, 31, 24, 15}, {'Full Stack Web Development': '8AM', 'Data Science master': '8PM', 'Java with DSA': '3PM'}])

In [42]:
list(D5.values())

[[65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5],
 (1, 2, 3, 4, 5, 6, 7, 8, 9),
 {8, 9, 12, 15, 24, 31},
 {'Full Stack Web Development': '8AM',
  'Data Science master': '8PM',
  'Java with DSA': '3PM'}]

In [45]:
set(D5.keys())

{'Assignments', 'Batch timing', 'Launch date', 'Numbers'}

In [47]:
D5.items()

dict_items([('Numbers', [65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5]), ('Assignments', (1, 2, 3, 4, 5, 6, 7, 8, 9)), ('Launch date', {8, 9, 12, 31, 24, 15}), ('Batch timing', {'Full Stack Web Development': '8AM', 'Data Science master': '8PM', 'Java with DSA': '3PM'})])

In [48]:
list(D5.items())

[('Numbers', [65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5]),
 ('Assignments', (1, 2, 3, 4, 5, 6, 7, 8, 9)),
 ('Launch date', {8, 9, 12, 15, 24, 31}),
 ('Batch timing',
  {'Full Stack Web Development': '8AM',
   'Data Science master': '8PM',
   'Java with DSA': '3PM'})]

In [50]:
D5.pop("Batch timing")

{'Full Stack Web Development': '8AM',
 'Data Science master': '8PM',
 'Java with DSA': '3PM'}

In [51]:
D5

{'Numbers': [65, 99, 8, 4, 46, 45, 2, 4, 678, 8, 5],
 'Assignments': (1, 2, 3, 4, 5, 6, 7, 8, 9),
 'Launch date': {8, 9, 12, 15, 24, 31}}

In [53]:
# Dictionary is a mutable object

In [55]:
marks = 85
if marks >= 80 :
    print("You will be a part of A0 Batch")
elif marks >= 60 and marks < 80 : 
    print("You will be a part of A1 Batch")
elif marks >= 40 and marks < 60 :
    print("You will be a part of A2 Batch")
else :
    print("You will be a part of A3 Batch")

You will be a part of A0 Batch

In [60]:
marks = int(input("Enter Your Marks"))
if marks >= 80:
    print("You will be a part of A0 Batch")
elif marks >=60 and marks < 80:
    print("You will be a part of A1 Batch")
elif marks >= 40 and marks < 60 :
    print("You will be a part of A2 Batch")
else :
    print("You will be a part of A3 Batch")

Enter Your Marks 65

You will be a part of A1 Batch

In [61]:
marks = int(input("Enter Your Marks"))
if marks >= 80:
    print("You will be a part of A0 Batch")
elif marks >=60 and marks < 80:
    print("You will be a part of A1 Batch")
elif marks >= 40 and marks < 60 :
    print("You will be a part of A2 Batch")
else :
    print("You will be a part of A3 Batch")

Enter Your Marks 98

You will be a part of A0 Batch

In [62]:
price = int(input("What is the price of the product"))
if price > 1000 :
    print("I will not purchase")
    if price > 5000:
        print("This is too expensive")
        if price > 10000:
            print("Tera ghar jaayenga isme")
else :
    print("I will purchase")

What is the price of the product 700

I will purchase

In [64]:
price = int(input("What is the price of the product"))
if price > 1000 :
    print("I will not purchase")
    if price > 5000:
        print("This is too expensive")
        if price > 10000:
            print("Tera ghar jaayenga isme")
else :
    print("I will purchase")

What is the price of the product 6000

I will not purchase
This is too expensive

In [65]:
price = int(input("What is the price of the product"))
if price > 1000 :
    print("I will not purchase")
    if price > 5000:
        print("This is too expensive")
        if price > 10000:
            print("Tera ghar jaayenga isme")
else :
    print("I will purchase")

What is the price of the product 15000

I will not purchase
This is too expensive
Tera ghar jaayenga isme

In [66]:
Integers = [1,2,3,4,5,6,7,8]

In [67]:
Integers[0]

1

In [69]:
new = []

In [71]:
new.append(Integers[0]+ 1)

In [72]:
new

[2]

In [73]:
Integers.append(Integers[0]+ 1)

In [74]:
Integers

[1, 2, 3, 4, 5, 6, 7, 8, 2]

In [76]:
                                           # Loop

In [77]:
for Dash in Integers :
    print(Dash)

1
2
3
4
5
6
7
8
2

In [81]:
for Dash in Integers :
    print(Dash + 1)

2
3
4
5
6
7
8
9
3

In [87]:
L1 = []
for Dash in Integers:
    print(Dash + 1)
    L1.append(Dash + 1)
L1

2
3
4
5
6
7
8
9
3

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [88]:
L2 = []
for Dash in Integers :
    L2.append(Dash + 1)
L2

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [90]:
L1

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [91]:
L2

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [92]:
List = ["Happy", "Chauhan", "Data", "Science"]

In [93]:
ravan = []
for Itachi in List:
    print(Itachi.upper())
    ravan.append(Itachi.upper())
ravan

HAPPY
CHAUHAN
DATA
SCIENCE

['HAPPY', 'CHAUHAN', 'DATA', 'SCIENCE']

In [94]:
ravan

['HAPPY', 'CHAUHAN', 'DATA', 'SCIENCE']

In [95]:
Mixed = [4,2,3,"Happy", "Chauhan", "Data Science", 45,6486,87.78789]

In [99]:
Number = []
String = []
for go in Mixed:
    if type(go) == int or type(go) == float:
        Number.append(go)
    else :
        String.append(go)

In [100]:
Number

[4, 2, 3, 45, 6486, 87.78789]

In [101]:
String

['Happy', 'Chauhan', 'Data Science']