In [1]:
#list is something that stores different type of variables in a single list

In [3]:
List = [1, 337, 3478.3468, "Data Science", True, False, 38 + 34j]

In [4]:
type(List)

list

In [5]:
#in list data must be stored inside the square brackets[].

In [6]:
#as in string slicing and indexing is done same goes for list too.

In [7]:
#List also follows the slicing and indexing

In [8]:
List[0]

1

In [9]:
List[1]

337

In [10]:
List[2]

3478.3468

In [11]:
List[3]

'Data Science'

In [12]:
List[4]

True

In [13]:
List[5]

False

In [14]:
List[6]

(38+34j)

In [15]:
# When we call any index out of the range then it is going to show an error

In [16]:
#anything can be stored inside a list either it is set, toples or any other thing

In [17]:
List[0:4]

[1, 337, 3478.3468, 'Data Science']

In [18]:
List[-1]

(38+34j)

In [19]:
List[::-1]

[(38+34j), False, True, 'Data Science', 3478.3468, 337, 1]

In [20]:
List[::2]

[1, 3478.3468, True, (38+34j)]

In [21]:
List[::-2]

[(38+34j), True, 3478.3468, 1]

In [22]:
String = "Data Sciences"

In [23]:
List + String

TypeError: can only concatenate list (not "str") to list

In [24]:
#can't concatinate string with the list because both contain different data type

In [26]:
list(String)

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 's']

In [27]:
list(String) + List

['D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 's',
 1,
 337,
 3478.3468,
 'Data Science',
 True,
 False,
 (38+34j)]

In [28]:
List

[1, 337, 3478.3468, 'Data Science', True, False, (38+34j)]

In [30]:
List[3][3]

'a'

In [31]:
#this is used if we want to get a certain word or charcter from a string or a list

In [33]:
List[3][0:4]

'Data'

In [34]:
List[3][::]

'Data Science'

In [35]:
List[3][5::]

'Science'

In [36]:
List

[1, 337, 3478.3468, 'Data Science', True, False, (38+34j)]

In [38]:
str(List[4])[0:2]

'Tr'

In [39]:
# there is a upend and a extend operation which is used to make or join something in a list
# or used to create a list in order to add something in a list

In [41]:
go = [1,34,5,67,83]

In [42]:
List + go

[1, 337, 3478.3468, 'Data Science', True, False, (38+34j), 1, 34, 5, 67, 83]

In [43]:
go *3

[1, 34, 5, 67, 83, 1, 34, 5, 67, 83, 1, 34, 5, 67, 83]

In [47]:
go * 10

[1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83,
 1,
 34,
 5,
 67,
 83]

In [48]:
len(List)

7

In [49]:
len(go*10)

50

In [50]:
List.append("Happy Chauhan")

In [51]:
List

[1, 337, 3478.3468, 'Data Science', True, False, (38+34j), 'Happy Chauhan']

In [52]:
List.append(go)

In [53]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 [1, 34, 5, 67, 83]]

In [54]:
List[8][2]

5

In [55]:
List[-1]

[1, 34, 5, 67, 83]

In [56]:
List[-1][2]

5

In [57]:
List.extend(3)

TypeError: 'int' object is not iterable

In [58]:
List.extend("Chauhan")

In [59]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 [1, 34, 5, 67, 83],
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n']

In [60]:
# extend function adds only those data type which is iterable i.e in which indexing can be done

In [61]:
List.extend([3,53,534])

In [64]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 [1, 34, 5, 67, 83],
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n',
 3,
 53,
 534]

In [65]:
# upend adds data to a list as it is available while
# extend adds data by firstly unwreking it and then adding it to the list

In [66]:
go

[1, 34, 5, 67, 83]

In [67]:
# in both the upend and extend function data is added to the end of the list 
# for adding a certain data in a list at a specific position index function is used

In [68]:
go.insert(1, "Happy Chauhan")

In [69]:
go

[1, 'Happy Chauhan', 34, 5, 67, 83]

In [70]:
go.insert(3, [23,4,873])

In [71]:
go

[1, 'Happy Chauhan', 34, [23, 4, 873], 5, 67, 83]

In [72]:
go.pop()

83

In [73]:
go

[1, 'Happy Chauhan', 34, [23, 4, 873], 5, 67]

In [74]:
go.pop()

67

In [75]:
go

[1, 'Happy Chauhan', 34, [23, 4, 873], 5]

In [76]:
go.pop(3)

[23, 4, 873]

In [77]:
go

[1, 'Happy Chauhan', 34, 5]

In [79]:
List.remove(3)

In [80]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 [1, 'Happy Chauhan', 34, 5],
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n',
 53,
 534]

In [81]:
List.remove([1, "Happy Chauhan", 34, 5])

In [82]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n',
 53,
 534]

In [83]:
List.insert(4,[3, "Happy Chauhan", 34, 5])

In [84]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 [3, 'Happy Chauhan', 34, 5],
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n',
 53,
 534]

In [85]:
List.remove([3, "Happy Chauhan", 34, 5]["Happy Chauhan"])

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
/tmp/ipykernel_73/199167066.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  List.remove([3, "Happy Chauhan", 34, 5]["Happy Chauhan"])
/tmp/ipykernel_73/199167066.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  List.remove([3, "Happy Chauhan", 34, 5]["Happy Chauhan"])
/tmp/ipykernel_73/199167066.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  List.remove([3, "Happy Chauhan", 34, 5]["Happy Chauhan"])

TypeError: list indices must be integers or slices, not str

In [86]:
# There is no direct way to do upper function we have to first extract list then remove desired data then again add to the list for
# the desired product or list

In [87]:
List.remove([3, "Happy Chauhan", 34,5])

In [88]:
List.insert(4, [3, "Happy Chauhan", 34,5])

In [89]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 [3, 'Happy Chauhan', 34, 5],
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n',
 53,
 534]

In [90]:
List[4]

[3, 'Happy Chauhan', 34, 5]

In [91]:
List[4].remove("Happy Chauhan")

In [92]:
List

[1,
 337,
 3478.3468,
 'Data Science',
 [3, 34, 5],
 True,
 False,
 (38+34j),
 'Happy Chauhan',
 'C',
 'h',
 'a',
 'u',
 'h',
 'a',
 'n',
 53,
 534]

In [93]:
go

[1, 'Happy Chauhan', 34, 5]

In [94]:
go[1].remove(3:5)

SyntaxError: invalid syntax (2466915761.py, line 1)

In [95]:
# this can not be done in any case

In [97]:
go.reverse()

In [98]:
go

[5, 34, 'Happy Chauhan', 1]

In [99]:
# this reverse is a permanent reverse while other reverse with -1 is temporary one

In [100]:
Itachi = [34,54,23,454,7,5,45,3,6,65,35]

In [101]:
Itachi

[34, 54, 23, 454, 7, 5, 45, 3, 6, 65, 35]

In [102]:
Itachi.sort()

In [103]:
Itachi

[3, 5, 6, 7, 23, 34, 35, 45, 54, 65, 454]

In [105]:
Naruto = ["Ranu mondal", "Data science", "Happy Chauhan","Doctor", "Raju rastogi"]

In [106]:
Naruto

['Ranu mondal', 'Data science', 'Happy Chauhan', 'Doctor', 'Raju rastogi']

In [107]:
Naruto.sort()

In [108]:
Naruto

['Data science', 'Doctor', 'Happy Chauhan', 'Raju rastogi', 'Ranu mondal']

In [109]:
# if we want to get the data in descending order then we can do this otherwise it is going to give us data in ascending order only

In [110]:
Naruto.sort(reverse=True)

In [111]:
Naruto

['Ranu mondal', 'Raju rastogi', 'Happy Chauhan', 'Doctor', 'Data science']

In [112]:
Itachi.sort(reverse=True)

In [113]:
Itachi

[454, 65, 54, 45, 35, 34, 23, 7, 6, 5, 3]

In [114]:
Itachi.index(45)

3

In [117]:
Itachi.count(454)

1

In [118]:
Naruto[4]

'Data science'

In [119]:
Naruto[4] = "Data Scientist"

In [120]:
Naruto

['Ranu mondal', 'Raju rastogi', 'Happy Chauhan', 'Doctor', 'Data Scientist']

In [121]:
Itachi[4] = "Data Science"

In [122]:
Itachi

[454, 65, 54, 45, 'Data Science', 34, 23, 7, 6, 5, 3]

In [123]:
Ino = "Madara Uchiha"

In [124]:
Ino[4]

'r'

In [125]:
Ino[4] = "p"

TypeError: 'str' object does not support item assignment

In [126]:
# in string this can not be done but when we try to do it with the list then it shows desired resluts

In [128]:
# mutablity and item assignment are two different things we can do mutation in mutable list or function
# strings are immutable
# where lists are mutable entity

# for doing that in the string we can use another function that is known as replace function

In [131]:
Ino.replace("r", "p")

'Madapa Uchiha'

In [132]:
Ino

'Madara Uchiha'

In [133]:
# that is not a permanent change like other functions

In [134]:
                                               # TUPLES

In [137]:
Choji = (34,3553,755.464, "Data Science", "Happy Chauhan", True, False, 34 + 54j, [35,67655,34,323])

In [138]:
Choji

(34,
 3553,
 755.464,
 'Data Science',
 'Happy Chauhan',
 True,
 False,
 (34+54j),
 [35, 67655, 34, 323])

In [139]:
type(Choji)

tuple

In [140]:
len(Choji)

9

In [141]:
Choji[4]

'Happy Chauhan'

In [142]:
# mostly all of the concepts of list are applicable to the tuple 
# but tuple does not support item assignment as list does and it follows immutability as in case of strings
# tuple only contain 2 functions which are 
# count and index

In [143]:
Choji.count(34)

1

In [145]:
Choji.count(3)

0

In [146]:
Choji.index("Data Science")

3

In [148]:
Choji[::-1]

([35, 67655, 34, 323],
 (34+54j),
 False,
 True,
 'Happy Chauhan',
 'Data Science',
 755.464,
 3553,
 34)

In [149]:
                                                  # SET

In [150]:
Setting = {}

In [151]:
type(Setting)

dict

In [158]:
Setting = {3,1,4,23,656,0, "Happy Chuahan", True, False, 34343.53762}

In [159]:
type(Setting)

set

In [160]:
# set do not accept the list in it but it accepts the tuple because it only stores immutable entity

In [161]:
Setting

{0, 1, 23, 3, 34343.53762, 4, 656, 'Happy Chuahan'}

In [166]:
Set1 = {1,13,9,4,6,7,455,6,3,8,4,4,3,4,4,5,2,3,2,2,32,6,3,35,5,4,5,4}

In [167]:
Set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 32, 35, 455}

In [170]:
list(set(Itachi))

[65, 34, 3, 5, 454, 7, 6, 45, 54, 23, 'Data Science']

In [171]:
Setting

{0, 1, 23, 3, 34343.53762, 4, 656, 'Happy Chuahan'}

In [172]:
Setting.add(2)

In [173]:
Setting

{0, 1, 2, 23, 3, 34343.53762, 4, 656, 'Happy Chuahan'}

In [174]:
# we can not add data at a certain position inside a set

In [175]:
Setting.remove(23)

In [176]:
Setting

{0, 1, 2, 3, 34343.53762, 4, 656, 'Happy Chuahan'}